 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-ligth">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h4>Was</h4>
                    <p>Egal ob simple aufgaben, wie eine Vorhanstange aufh&auml;gen, was in die Wand schrauben, M&ouml;bel bau bis hin zu gr&ouml;&szlig;eren Projekten wie Emporen bauen, Kinderh&auml;ser, Tierst&auml;lle. Wir setzen Ihre Idee handwerklich um.</p>
                </div>
                <div class="col-lg-6">
                    <h4>Wie</h4>
                    <p>Wir arbeiten mit Holz, Metall und neuen Werkstoffen. Auch Umsetzungen mit Computern/ IoT ist f&uuml;r uns kein Problem. Mit unserer langj&auml;hrigen Erfahrung und intidispliari&auml;t gibt es wenige Projekte die wir nicht umsetzen k&ouml;nnen.</p>
                </div>
            </div>
            <div class="row"> &nbsp;  </div>

            <div class="row">
                    <div class="col-lg-6">
                        <h4>Wir</h4>
                        <p>Wir sind eine Handwerksfirma aus dem Prenzlauer Berg Berlin fuer den Prenzlauer Berg. Schon von Kindesbeinen auf haben ich gewerkelt und einfach gemacht. Ich freue mich diese Begeisterung jetzt in meinen Beruf bringen zu k&ouml;nnen und interessante Projekte um zu setzen.</p>
                    </div>
                    <div class="col-lg-6">
                        <h4>Werte</h4>
                        <p>Wir glauben an die Natur und an nur an ein Leben im Einklang mit ihr. Desswegen kommen wir mit dem Fahrrad und nicht Auto, laden unsere Werkzeuge mit 100% &Ouml;kostrom und verwenden nur Rohstoffe die Naturvertr&auml;glich sind.</p>
                    </div>
                </div>
    
        </div>
    </section>
