<section id="banner">
    <div class="inner">
        <h2>MAKER BERLIN</h2>
        <p>Du hast die Idee<br>Ich baue sie Dir</p>
        <ul class="actions">
            <li><a href="#contact" class="button special">Kontakt</a></li>
        </ul>
    </div>
    <a href="#one" class="more scrolly">Mehr</a>
</section>

<section id="about" class="wrapper style2 special">
    <div class="inner">
        <header class="major">
            <h2>Zur Zeit nehmen wir keine "kleinen" Aufträge mehr an!</h2>
            <p>Aufgrund der aktuellen Mietpreissituation ist es für unsere kleine 
                Familie nicht mehr möglich innerhalb von Berlin zu wohnen. 
                Deswegen nehmen wir nur noch Projekte wie Tiny-Häuser oder größere Sachen an!
            </p>
        </header>
    </div>
</section>


<!-- One -->
<section id="about" class="wrapper style1 special">
    <div class="inner">
        <header class="major">
            <h2>Hallo, ich bin Didi und ich baue gerne Sachen.</h2>
            <p>Ich bin ein Allround-Handwerker und stelle innovative, 
                kreative Möbel und Installationen her. Als Familienvater im 
                Prenzlauer Berg kenne ich die Bedürfnisse von jungen Familien 
                im Kiez. Von den kleinen, handwerklichen Dingen auf der To-Do-List 
                bis zu den großen Konstruktionsideen: Ich setze Eure Visionen in die
                 Wirklichkeit um.
            </p>
        </header>
    </div>
</section>

