<section id="contact" class="wrapper style2">
    <div class="inner">
        <h4>Kontakt</h4>
        <form  action="https://formspree.io/mjvkokav" method="POST" name="sentMessage" id="contactForm" novalidate>
            <div class="row uniform">
                <div class="6u 12u$(xsmall)">
                    <input type="text" name="name" id="name" value="" placeholder="Name" />
                </div>
                <div class="6u$ 12u$(xsmall)">
                    <input type="email" name="email" id="email" value="" placeholder="Email" />
                </div>
                <div class="12u$">
                    <textarea name="message" id="message" placeholder="Deine Nachricht" rows="6"></textarea>
                </div>
                <div class="12u$">
                    <ul class="actions">
                        <li><input type="submit" value="Nachricht senden" class="special" /></li>
                        <li><input type="reset" value="Löschen" /></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</section>
