<section id="leistungen" class="wrapper alt style2">
    <section class="spotlight">
        <div class="image"><img src="images/huehner.jpg" alt="" /></div>
        <div class="content">
            <h2>Anders Denken</h2>
            <p>
                Ich verstehe mich als <a href="https://de.wikipedia.org/wiki/Maker" target="_blank">Maker</a> und versuche immer neue Ideen und Technologien in meine Arbeit einfließen zu lassen. Oft entstehen erst durch das zusammenspiel von unterschiedlichsten Materialien und Arbeitsweisen wirklich interessante Gegenstände.
            </p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="images/we.jpg" alt="" /></div>
        <div class="content">
            <h2>Ausgefallene Konstruktionen</h2>
            <p>
                Ich setze Eure ausgefallenen Ideen um, vom maßgeschneiderten Balkongewächshaus aus recycelten Materialien zur selbst designten Wohnzimmerlampe. Gemeinsam überlegen wir, wie ich Eure Wohnungsprojekte individuell und ausgefallen konstruieren kann.
            </p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="images/monty.jpg" alt="" /></div>
        <div class="content">
            <h2>Kreative Lösungen</h2>
            <p>
                Ich baue Möbelstücke ganz nach Euren besonderen Bedürfnissen. Sei es die Nische im Flur, in die kein Schuhregal zu passen scheint, oder das Kinderzimmer mit den hohen Decken, das durch ein Hochbett viel besser genutzt wäre. Mit Euren Ideen und meiner handwerklichen Erfahrung finden wir für alle Räume eine tolle, individuelle Lösung.
            </p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="images/tiny.jpg" alt="" /></div>
        <div class="content">
            <h2>Tiny House</h2>
            <p>
                Ich baue Euch Eure individuellen Lösungen, um ins Grüne zu kommen, vom Transporterausbau zum komplett maßgeschneiderten Tiny House. Egal ob praktisch, minimalistisch oder ausgefallen, ich bin gespannt auf Eure Ideen!
            </p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="images/kueche.jpg" alt="" /></div>
        <div class="content">
            <h2>Kleinkram</h2>
            <p>
                Ich erledige alle kleinen, handwerklichen Dinge, die in Eurem Haushalt anfallen. Ich hänge Eure Garderobenhaken auf, schraube Eure Regalbretter fest oder installiere Eure neuen Lampen. Dabei überlege ich auch gern mit Euch, wo die Lampe am besten hängen soll.
            </p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="images/kinder.jpg" alt="" /></div>
        <div class="content">
            <h2>Kindersicherung</h2>
            <p>
                Ich mache Eure Wohnung baby- und kleinkindersicher. Vom Festschrauben von Wandregalen, Sichern von Steckdosen und Montieren von Schutzgittern. Aus eigener Erfahrung weiß ich, auf wie viele Dinge dabei zu achten ist.
            </p>
        </div>
    </section>

</section>
