<!-- Portfolio Grid Section -->
<section class="" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Team</h2>
                <hr class="star-ligth">
            </div>
        </div>
        <div class="row">
            <div class="text-center">
                    <div class="col-lg-4 col-lg-offset-2">
                        <img src="img/me.png" class="figure-img img-fluid rounded img-responsive" alt="...">
                </div>
                <div class="col-lg-4">
                        <img src="img/monty.png" class="figure-img img-fluid rounded" alt="...">
                </div>
            </div>
        </div>


    </div>
</section>