<section id="werte" class="wrapper style3 special">
    <div class="inner">
        <header class="major">
            <h2>Meine Werte</h2>
        </header>
        <ul class="features">
            <li class="icon fa-seedling">
                <h3>Nachhaltig</h3>
                <p>Ich verwende ausschließlich nachhaltige Rohstoffe und Materialien. Unser Holz ist PEFC oder FSC Zertifiziert und ich verwende keine Tropenhölzer.</p>
            </li>
            <li class="icon fa-leaf">
                <h3>CO2-Neutral</h3>
                <p>Ich versuche, den Fußabdruck meiner Arbeit so gering wie möglich zu halten. Fahrten erledige ich soweit wie möglich mit dem Lastenrad, ich verwende Ökostrom und vermeide Versandhandel bei der Besorgung von Materialien.</p>
            </li>
            <li class="icon fa-baby">
                <h3>Familienfreundlich</h3>
                <p>Ich denke die Bedürfnisse von Kindern und Eltern in allen Lösungen mit – ich achte auf die Sicherheit für Kinder in allen Konstruktionen und verwende keine gesundheitsgefährdenden Materialien.</p>
            </li>
            <li class="icon fa-biohazard">
                <h3>Biologisch</h3>
                <p>Ich verwende keine lösungsmittelhaltigen Farben oder Lacke. Bei der Materialwahl achte ich auf die ökologisch sinnvolle Entsorgbarkeit.</p>
            </li>
            <li class="icon fa-money-bill-wave">
                <h3>Sozialverträglich</h3>
                <p>Unabhängig vom Einkommen sollte jeder die Möglichkeit haben, seine Ideen umzusetzen. Deshalb komme ich Geringverdienern gern preislich entgegen.</p>
            </li>
            <li class="icon fa-angry">
                <h3>Anti-Ikea und Amazon</h3>
                <p>Statt schlecht verarbeiteter Massenware aus ökologisch und sozial fragwürdigen Quellen stehe ich für lebenslang haltende, qualitativ hochwertige Stücke.</p>
            </li>

        </ul>
    </div>
</section>
